CompileFlags:
  CompilationDatabase: build
  Remove: [-fno-reorder-functions, -mfp16-format=ieee, -fno-printf-return-value]

Index:
  Background: Build
  StandardLibrary: No

Hover:
  ShowAKA: Yes

Diagnostics:
  Suppress: []
  UnusedIncludes: None
